.mobile {
  display: none;
}
.desktop {
  display: block;
}

#logout-p {
  text-align: center;
  margin-top: 20vh;
}

.card {
  width: 80%;

  margin: auto;
  margin-top: 30px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
